* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: url(pictures/Halloween-seamless-pattern-by-thanaporn.pinp_-2.jpg);
}
img {
  width: max-content;
}
#title {
  text-align: center;
  font-family: "Nosifer", sans-serif;
  font-size: 2rem;
  margin-top: 1rem;
}
#main-container {
  position: relative;
  top: 1rem;
  width: 60rem;
  height: 49rem;
  background-color: #f28914;
  margin: auto;
  border: 10px solid;
  border-radius: 15px;
}
#recipe-container {
  height: auto;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  font-family: "Amatic SC", sans-serif;
}
#recipe-container a {
  border: 5px solid;
  background-color: black;
  color: #f28914;
  text-decoration: none;
  border-radius: 10px;
  width: 45%;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#recipe-container a img {
  border: 5px solid #f28914;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
